<?xml version="1.0" encoding="utf-8"?>
<XMLSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ExpectedNodeCount>2</ExpectedNodeCount>
  <ExpectedNodeTypes>
    <RSINodeType>RSINodeTypeMITSUBISHI_MR_J5_TM</RSINodeType>
    <RSINodeType>RSINodeTypeMITSUBISHI_MR_J5_TM</RSINodeType>
  </ExpectedNodeTypes>
  <NetworkStartTimeoutMilliseconds xsi:nil="true" />
  <SampleRate>1000</SampleRate>
  <AxisCount>2</AxisCount>
  <MotionCount>3</MotionCount>
  <UserLimitCount>0</UserLimitCount>
  <RecorderCount>0</RecorderCount>
  <RecorderBufferSize />
  <CompensatorCount>0</CompensatorCount>
  <CompensatorPointCount />
  <AxisFrameBufferSize>
    <int>1024</int>
    <int>1024</int>
  </AxisFrameBufferSize>
  <MathBlockCount>0</MathBlockCount>
  <XMLFiles>
    <AxisXML>
      <AxisNumber>0</AxisNumber>
      <XMLFile>x.xml</XMLFile>
    </AxisXML>
    <AxisXML>
      <AxisNumber>1</AxisNumber>
      <XMLFile>y.xml</XMLFile>
    </AxisXML>
  </XMLFiles>
  <MultiAxisXMLFiles>
    <MultiAxisXML>
      <MotionSupervisorIndex>2</MotionSupervisorIndex>
      <XMLFile>multiaxis.xml</XMLFile>
    </MultiAxisXML>
  </MultiAxisXMLFiles>
  <RTTaskManagers />
</XMLSettings>